ros2:
  trigger:
    include:
      - remote: https://raw.githubusercontent.com/ika-rwth-aachen/docker-ros/main/.gitlab-ci/docker-ros.yml
    strategy: depend
  variables:
    PLATFORM: amd64,arm64
    TARGET: dev,run
    BASE_IMAGE: rwthika/ros2:latest
    COMMAND: ros2 launch mqtt_client standalone.launch.xml
    RMW_IMPLEMENTATION: rmw_zenoh_cpp
