<launch>

  <arg name="namespace" default="/" />
  <arg name="node_name" default="mqtt_client" />
  <arg name="params_file" default="$(find mqtt_client)/config/params.yaml" />

  <node pkg="nodelet" type="nodelet" name="$(arg node_name)" ns="$(arg namespace)" args="standalone mqtt_client/MqttClient" output="screen">
    <rosparam command="load" file="$(arg params_file)" />
  </node>

</launch>
